@font-face {
  font-family: "Pretendard";
  src: url("./PretendardVariable.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

.hello {
  color: red;
  font-family: "Pretendard";
  background: url("./image.png");
}
